body {
	background-color: #353535;
	font-family: 'Barlow Condensed', sans-serif;
}

.radio {
	position: relative;
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 700px;
	height: 300px;
	border-radius: 10px;
	margin: 100px auto 0 auto;
background: rgba(193,33,35,1);
background: -moz-linear-gradient(top, rgba(193,33,35,1) 0%, rgba(240,206,207,1) 2%, rgba(168,12,14,1) 4%, rgba(194,49,51,1) 96%, rgba(117,17,18,1) 99%, rgba(107,12,13,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(193,33,35,1)), color-stop(2%, rgba(240,206,207,1)), color-stop(4%, rgba(168,12,14,1)), color-stop(96%, rgba(194,49,51,1)), color-stop(99%, rgba(117,17,18,1)), color-stop(100%, rgba(107,12,13,1)));
background: -webkit-linear-gradient(top, rgba(193,33,35,1) 0%, rgba(240,206,207,1) 2%, rgba(168,12,14,1) 4%, rgba(194,49,51,1) 96%, rgba(117,17,18,1) 99%, rgba(107,12,13,1) 100%);
background: -o-linear-gradient(top, rgba(193,33,35,1) 0%, rgba(240,206,207,1) 2%, rgba(168,12,14,1) 4%, rgba(194,49,51,1) 96%, rgba(117,17,18,1) 99%, rgba(107,12,13,1) 100%);
background: -ms-linear-gradient(top, rgba(193,33,35,1) 0%, rgba(240,206,207,1) 2%, rgba(168,12,14,1) 4%, rgba(194,49,51,1) 96%, rgba(117,17,18,1) 99%, rgba(107,12,13,1) 100%);
background: linear-gradient(to bottom, rgba(193,33,35,1) 0%, rgba(240,206,207,1) 2%, rgba(168,12,14,1) 4%, rgba(194,49,51,1) 96%, rgba(117,17,18,1) 99%, rgba(107,12,13,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c12123', endColorstr='#6b0c0d', GradientType=0 );
  -webkit-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.75);
}

.title {
	position: absolute;
	top: 12px;
	font-size: 40px;
	color: #fefefe;
	font-family: 'Great Vibes', cursive;
	text-shadow:0px 3px 4px #000000;
}

.outerDis {
	position: relative;
	width: 400px;
	height: 180px;
	border-radius: 20px;
background: rgba(246,247,242,1);
background: -moz-linear-gradient(45deg, rgba(246,247,242,1) 0%, rgba(183,185,163,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(246,247,242,1)), color-stop(100%, rgba(183,185,163,1)));
background: -webkit-linear-gradient(45deg, rgba(246,247,242,1) 0%, rgba(183,185,163,1) 100%);
background: -o-linear-gradient(45deg, rgba(246,247,242,1) 0%, rgba(183,185,163,1) 100%);
background: -ms-linear-gradient(45deg, rgba(246,247,242,1) 0%, rgba(183,185,163,1) 100%);
background: linear-gradient(45deg, rgba(246,247,242,1) 0%, rgba(183,185,163,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f7f2', endColorstr='#b7b9a3', GradientType=1 );
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.75);
}

.display {
	position: relative;
	width: 380px;
	height: 160px;
	margin: 10px auto;
	border-radius: 20px;
	background-color: rgba(0, 0, 0, 0);
	overflow: hidden;
}

hr {
	position: absolute;
	top: 30px;
	left: 0;
	width: 378px;
	border-color: #c0b9a7;
	z-index: 2;
}

p {
	position: absolute;
	top: 40px;
	left: 20px;
	color: #c0b9a7;
	font-size: 24px;
	letter-spacing: 7px;
	margin: 0;
	z-index: 2;
}

.needle {
	position: absolute;
	width: 5px;
	left: 160px;
	height: 80px;
	border-radius: 1px;
	top: 0;
background: rgba(120,40,18,1);
background: -moz-linear-gradient(left, rgba(120,40,18,1) 0%, rgba(212,74,35,1) 48%, rgba(120,40,18,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(120,40,18,1)), color-stop(48%, rgba(212,74,35,1)), color-stop(100%, rgba(120,40,18,1)));
background: -webkit-linear-gradient(left, rgba(120,40,18,1) 0%, rgba(212,74,35,1) 48%, rgba(120,40,18,1) 100%);
background: -o-linear-gradient(left, rgba(120,40,18,1) 0%, rgba(212,74,35,1) 48%, rgba(120,40,18,1) 100%);
background: -ms-linear-gradient(left, rgba(120,40,18,1) 0%, rgba(212,74,35,1) 48%, rgba(120,40,18,1) 100%);
background: linear-gradient(to right, rgba(120,40,18,1) 0%, rgba(212,74,35,1) 48%, rgba(120,40,18,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#782812', endColorstr='#782812', GradientType=1 );
 -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
 -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
 -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
 transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
}

.upperDis {
	position: relative;
	width: 100%;
	height: 100px;
	border-radius: 3px;
	background-color: #2f4135;
	-webkit-box-shadow: inset 0px 0px 20px 2px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px 0px 20px 2px rgba(0,0,0,0.75);
	box-shadow: inset 0px 0px 20px 2px rgba(0,0,0,0.75);
}

.light {
	position: absolute;
	width: 380px;
	height: 5px;
	top: -5px;
	left: 0;
	-webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);

}

.lightOn {
	background-color: #fdfdfd;
  box-shadow: 0 0 10px rgba(255, 255, 255, 1), 0 0 100px rgba(255, 255, 255, 1),
    0 0 110px rgba(255, 255, 255, 1), 0 0 120px #2b7ffb, 0 0 150px #2b7ffb,
    0 0 80px #2b7ffb, 0 0 100px #2b7ffb;
}

.lowerDis {
	display: flex;
	position: relative;
	width: 100%;
	height: 50px;
	margin-top: 10px;
	border-radius: 3px;
	background-color: #22332b;
	-webkit-box-shadow: inset 0px 0px 20px 2px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px 0px 20px 2px rgba(0,0,0,0.75);
	box-shadow: inset 0px 0px 20px 2px rgba(0,0,0,0.75);
}

.knob {
	position: relative;
	width: 75px;
	height: 75px;
	border-radius: 50%;
	cursor: pointer;
background: rgba(255,255,255,1);
background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(199,199,199,1) 7%, rgba(222,222,222,1) 45%, rgba(204,204,204,1) 59%, rgba(33,33,33,1) 69%, rgba(186,181,161,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,1)), color-stop(7%, rgba(199,199,199,1)), color-stop(45%, rgba(222,222,222,1)), color-stop(59%, rgba(204,204,204,1)), color-stop(69%, rgba(33,33,33,1)), color-stop(100%, rgba(186,181,161,1)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(199,199,199,1) 7%, rgba(222,222,222,1) 45%, rgba(204,204,204,1) 59%, rgba(33,33,33,1) 69%, rgba(186,181,161,1) 100%);
background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(199,199,199,1) 7%, rgba(222,222,222,1) 45%, rgba(204,204,204,1) 59%, rgba(33,33,33,1) 69%, rgba(186,181,161,1) 100%);
background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(199,199,199,1) 7%, rgba(222,222,222,1) 45%, rgba(204,204,204,1) 59%, rgba(33,33,33,1) 69%, rgba(186,181,161,1) 100%);
background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(199,199,199,1) 7%, rgba(222,222,222,1) 45%, rgba(204,204,204,1) 59%, rgba(33,33,33,1) 69%, rgba(186,181,161,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#bab5a1', GradientType=1 );
  -webkit-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.75);
}

.power {
	position: absolute;
	top: 220px;
	left: 43px;
	width: 40px;
	height: 40px;
	cursor: pointer;
	border-radius: 50%;
	background: rgba(255,255,255,1);
background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(199,199,199,1) 7%, rgba(222,222,222,1) 45%, rgba(204,204,204,1) 59%, rgba(33,33,33,1) 69%, rgba(186,181,161,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,1)), color-stop(7%, rgba(199,199,199,1)), color-stop(45%, rgba(222,222,222,1)), color-stop(59%, rgba(204,204,204,1)), color-stop(69%, rgba(33,33,33,1)), color-stop(100%, rgba(186,181,161,1)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(199,199,199,1) 7%, rgba(222,222,222,1) 45%, rgba(204,204,204,1) 59%, rgba(33,33,33,1) 69%, rgba(186,181,161,1) 100%);
background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(199,199,199,1) 7%, rgba(222,222,222,1) 45%, rgba(204,204,204,1) 59%, rgba(33,33,33,1) 69%, rgba(186,181,161,1) 100%);
background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(199,199,199,1) 7%, rgba(222,222,222,1) 45%, rgba(204,204,204,1) 59%, rgba(33,33,33,1) 69%, rgba(186,181,161,1) 100%);
background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(199,199,199,1) 7%, rgba(222,222,222,1) 45%, rgba(204,204,204,1) 59%, rgba(33,33,33,1) 69%, rgba(186,181,161,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#bab5a1', GradientType=1 );
  -webkit-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.75);
  -webkit-transition: all 50ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 50ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 50ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 50ms cubic-bezier(0.42, 0, 0.58, 1);
}

.powerOn {
	width: 45px;
	height: 45px;
	top: 217.5px;
	left: 40.5px;
	-webkit-box-shadow: 0px 20px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 20px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 20px 10px 0px rgba(0, 0, 0, 0.75);
}

.powerText {
	position: absolute;
	top: 230px;
	left: 90px;
	color: #fefefe;
	font-size: 16px;
	text-shadow:0px 2px 2px #000000;
}

.labelLeft {
	position: absolute;
	top: 80px;
	left: 35px;
	font-size: 18px;
	color: #fefefe;
	text-shadow:0px 2px 2px #000000;
}

.labelRight {
	position: absolute;
	top: 80px;
	right: 30px;
	font-size: 18px;
	color: #fefefe;
	text-shadow:0px 2px 2px #000000;
}

.button {
	position: relative;
	cursor: pointer;
	width: 19%;
	height: 30px;
	margin: 2px 0.5% 0 0.5%;
	border-radius: 5px;
	border: 3px solid #e0d9c6;
	background: rgba(255,254,252,1);
background: -moz-linear-gradient(top, rgba(255,254,252,1) 0%, rgba(181,178,163,1) 23%, rgba(167,169,155,1) 76%, rgba(237,218,201,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,254,252,1)), color-stop(23%, rgba(181,178,163,1)), color-stop(76%, rgba(167,169,155,1)), color-stop(100%, rgba(237,218,201,1)));
background: -webkit-linear-gradient(top, rgba(255,254,252,1) 0%, rgba(181,178,163,1) 23%, rgba(167,169,155,1) 76%, rgba(237,218,201,1) 100%);
background: -o-linear-gradient(top, rgba(255,254,252,1) 0%, rgba(181,178,163,1) 23%, rgba(167,169,155,1) 76%, rgba(237,218,201,1) 100%);
background: -ms-linear-gradient(top, rgba(255,254,252,1) 0%, rgba(181,178,163,1) 23%, rgba(167,169,155,1) 76%, rgba(237,218,201,1) 100%);
background: linear-gradient(to bottom, rgba(255,254,252,1) 0%, rgba(181,178,163,1) 23%, rgba(167,169,155,1) 76%, rgba(237,218,201,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffefc', endColorstr='#eddac9', GradientType=0 );
  -webkit-box-shadow: 0px 15px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 15px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 15px 10px 0px rgba(0, 0, 0, 0.75);
}

.button:active {
 	transform: translate(0px, 2px);
 	width: 18%;
 	margin: 2px 1% 0 1%;
 	-webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.75);
}

.button:focus {
	outline: none;
}

#author {
  padding-top: 25px;
  text-align: center;
  color: #c8c8c8;
  font-family: Raleway;
  font-size: 14px;
}

